/*extra-large*/
@media screen and (min-width: 1000px) {
    .header-container {
        width: 1000px;
    }
    #maincontent {
        width: 1000px;
    }
    #footer {
        width: 1000px;
    }
    nav {
        width: 1000px;
    }
    #breadcrumb {
        width: 420px;
        right: calc(100% / 2);
    }
    #restaurant-container, #reviews-container {
        width: 500px;
        order: 1;
    }
    .inside #map-container {
        height: calc(100% - 145px);
        left: calc(100% / 2);
        width: 500px;
    }
    .inside #footer {
        width: 1000px;
    }
}
