/* ====================== Main ====================== */
img, embed, object, video {
    max-width: 100%;
}

body,td,th,p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #333;
    line-height: 1.5;
}
body {
    background-color: #f3f3f3;
    margin: 0;
    position:relative;
}
ul {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #333;
    padding-inline-start: 15px;
    padding-inline-end: 15px;
}
li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #333;
}
a {
    color: #fff;
    text-decoration: none;
}
a:hover, a:focus {
    color: blue;
    text-decoration: none;
}
a img{
    border: none 0 #fff;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
#maincontent {
    background-color: #f3f3f3;
    min-height: 100%;
    margin: 0 auto;
}
#footer {
    background-color: #444;
    color: #fff;
    font-size: 8pt;
    letter-spacing: 1px;
    padding: 25px 0;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
}
/* ====================== Navigation ====================== */
.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #BF1722;
    color: white;
    padding: 8px;
    z-index: 100;
}
.skip-link:focus {
    top: 0;
}
 .header-container {
     margin: 0 auto;
 }
nav {
    height: 80px;
    background-color: #252831;
    text-align:center;
    margin: 0 auto;
}
.title-text {
    margin: auto;
    line-height: 80px;
}
nav h1 a {
    color: #fff;
    font-weight: 200;
    letter-spacing: 10px;
    text-transform: uppercase;
}
#breadcrumb {
    padding: 0 40px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0 auto;
    position: fixed;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: blue;
    display: inline-block;
    text-decoration: none;
    padding: 16px 0;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
    height: 300px;
    width: 100%;
    background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
    width: calc(100% - 20px);
    /*height: 120px;*/
    background-color: #0275d8;
    align-items: center;
    padding: 10px 10px;
    color: white;
    display: flex;
}
.filter-options h2 {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}
.filter-options select {
    background-color: white;
    border: 1px solid #fff;
    font-family: Arial,sans-serif;
    font-size: 11pt;
    height: 35px;
    letter-spacing: 0;
    margin: 0 10px 0;
    padding: 0 10px;
}
.filter-labels {
    padding: 5px 0;
}
/* ====================== Restaurant Listing ====================== */
#restaurants-list {
    background-color: #f3f3f3;
    list-style: outside none none;
    margin: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
#restaurants-list li {
    background-color: #fff;
    border: 2px solid #ccc;
    font-family: Arial,sans-serif;
    margin: 15px;
    min-height: 350px;
    padding: 0 30px 25px;
    text-align: left;
    overflow: hidden;
}
#restaurants-list .restaurant-img {
    background-color: #ccc;
    display: block;
    margin: 0;
    width: 100%;
}
#restaurants-list li h3 {
    color: #000;
    font-family: Arial,sans-serif;
    font-size: 14pt;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.3;
    margin: 20px 0 10px;
    text-transform: uppercase;
}
#restaurants-list p {
    margin: 0;
    font-size: 11pt;
}
#restaurants-list li a {
    background-color: #BF1722;
    border-bottom: 3px solid #eee;
    color: #fff;
    display: inline-block;
    font-size: 10pt;
    font-weight: bold;
    margin: 15px 0 0;
    padding: 8px 30px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;
}
.inside #map-container {
    background: blue none repeat scroll 0 0;
}
.inside #map {
    background-color: #ccc;
    height: 100%;
    width: 100%;
}
.footer-container {
    width: 100%;
    bottom: 0;
    position: fixed;
    z-index: 1000;
}
#restaurant-name {
    color: #BF1722;
    font-family: Arial,sans-serif;
    font-weight: 500;
    font-size: 2em;
    margin: 15px 0 30px;
    text-transform: uppercase;
    line-height: 1.1;
    text-align: center;
}
#restaurant-img {
    width: 90%;
    margin: 0 auto;
    display: block;
}
#restaurant-address {
    font-size: 12pt;
    margin: 10px 0;
    text-align: center;
}
#restaurant-cuisine {
    background-color: #333;
    color: #ddd;
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 0 auto 20px;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
    width: 90%;
    display: block;
}
#restaurant-container, #reviews-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
}
#reviews-container {
    padding: 30px 0 80px;
}
#reviews-container h2 {
    color: #BF1722;
    font-weight: 500;
    font-size: 2em;
    padding-bottom: 1pt;
    text-align: center;
}
#reviews-list {
    padding: 0;
}
#reviews-list li {
    background-color: #fff;
    border: 2px solid #f3f3f3;
    display: block;
    list-style-type: none;
    margin: 0 auto 30px;
    overflow: hidden;
    padding: 10px 20px 20px;
    position: relative;
    width: 85%;
}
#reviews-list li p {
    margin: 0 0 10px;
}
#restaurant-hours td {
    color: #666;
}
#restaurant-hours {
    margin: 0 auto;
}
